/* Allgemeine Stile */

.container {
  margin: 20px;
  position: relative;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* Benachrichtigungsstil */

#notification {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.299);
  color: white;
  text-align: center;
  padding: 16px;
  transition: top 0.5s ease-in-out;
}

/* Login-Stile */

#login-container {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#loginForm {
  display: inline-block;
  text-align: left;
}

/* Datei-Manager-Stile */

#file-container {
  text-align: center;
  position: relative;
}

#file-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#file-table th,
#file-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#file-table th {
  font-weight: bold;
  background-color: #f1f1f1;
}

#file-table td.actions {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

#file-table td.actions button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: grey;
  cursor: pointer;
}

#file-table td.actions button:hover {
  background-color: rgb(161, 137, 137);
}

#file-table td.actions button:active {
  background-color: rgb(96, 81, 81);
}

.path-and-back {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#path-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

#pathView {
  font-size: 16px;
  font-weight: bold;
}

.logout-btn,
.back-btn,
#createDirButton,
#createTextFileButton,
#fileUploadButton {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
}

.logout-btn {
  background-color: #dc3545;
  margin-right: 10px;
  position: relative;
}

.back-btn {
  margin-right: 10px;
}

#logoutBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-sign-out-alt,
.fa-arrow-left {
  margin-right: 5px;
}

/* Datei- und Verzeichnisstil */

.file-name {
  font-weight: bold;
}

.file-type {
  font-style: italic;
  color: #777;
}

.dir {
  font-weight: bold;
  color: #007bff;
}

#createDirPopout {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Ensure the popout appears above other elements */
  display: none; /* Hide the popout by default */
  left: calc(100% - 300px);
  right: auto;
  top: 0;
}

#createDirForm {
  display: flex;
  align-items: center;
}

#createDirForm input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

#createDirForm button[type="submit"],
#createDirForm button[type="button"] {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#createDirForm button[type="submit"] {
  background-color: #007bff;
}

#createDirForm button[type="submit"]:hover {
  background-color: #0056b3;
}

#createDirForm button[type="button"] {
  background-color: #dc3545;
}

#createDirForm button[type="button"]:hover {
  background-color: #b30019;
}


.file-upload {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.file-upload-input {
  display: none;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#button-container > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#createDirButton {
  position: relative;
}

#createDirButton:hover + #createDirPopout,
#createDirPopout:hover {
  display: block;
}

/* Adjust the placement of the popout */
#createDirPopout.left {
  left: auto;
  right: calc(100% + 10px);
  top: 0;
}

/* Additional Styling */


#loginForm label {
  display: block;
  margin-bottom: 10px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#loginForm button[type="submit"]:hover {
  background-color: #0056b3;
}

.save-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

.cancel-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #dc3545; 
  cursor: pointer;
}
